<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404NOTFOUND</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
    <h1 class="text-center alert alert-danger">QUAN LI BAI THI</h1>
    <h2 >DANH SACH SINH VIEN <button class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal">THEM SINH VIEN</button></h2>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">Please Add New Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="./insert" method="POST">
                        <div class="form-group">
                          <label>MA SINH VIEN </label>
                          <input type="text" name="MASINHVIEN" class="form-control" id="MASINHVIEN" placeholder="Enter Ma sinh vien">
                        </div>
                        <div class="form-group">
                            <label>TEN SINH VIEN</label>
                            <input type="text" name="TENSINHVIEN" class="form-control" id="TENSINHVIEN" placeholder="Enter Ten sinh vien">
                        </div>
                        <div class="form-group">
                            <label>NGAY SINH</label>
                            <input type="date" name="NGAYSINH" class="form-control" id="NGAYSINH" placeholder="Enter Ngay sinh">
                        </div>
                        <div class="form-group">
                            <label>SO DIEN THOAI</label>
                            <input name="SDT" type="text" class="form-control" id="SDT" placeholder="Enter SDT">
                        </div>
                        <div class="form-group">
                            <label>LOP</label>
                            <input type="text" name="LOP" class="form-control" id="LOP" placeholder="Enter Lop">
                        </div>
                        <div class="form-group">
                            <label>KHOA</label>
                            <input type="text" name="KHOA" class="form-control" id="KHOA" placeholder="Enter Khoa">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Save</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <table class="table">
                    <tr>
                        <th>MASINHVIEN</th>
                        <th>TENSINHVIEN</th>
                        <th>NGAYSINH</th>
                        <th>SDT</th>
                        <th>LOP</th>
                        <th>KHOA</th>
                    </tr>
                        {% for row in sinhvien %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                    </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>